
#bgimage {
    background-image: url("image1234.jpg");
    background-color: #cccccc;
    width:100%;
    height: 100%;
    display: flex;
    min-height: 960px;
    position:absolute;
    position:relative;
    background-repeat: no-repeat;
     background-position: center;
    background-size:auto;

}
.desc {
    font-family: courier New, monospace;
    font-size: 66px;
    text-align: center;
    margin: 380px 0px 50px calc((100%-980px) * 0.5);
    position: relative;
}
#txt{
    width: 1020px;
    position:relative;

}